workflows/Notify for changes in Correios.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gerar token Correios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all tracked codes": {
      "main": [
        [
          {
            "node": "Separate tracked codes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate tracked codes": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar token Correios": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rastrear": {
      "main": [
        [
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get all tracked codes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Rastrear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-06-01T21:29:44.256Z",
  "id": "6",
  "meta": null,
  "name": "Notify for changes in Correios",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "45fbc684-adb6-4049-96e8-180193f6d723",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        200,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://nocodb.zerolab.app/api/v1/db/data/v1/Base/Correios Tracked Codes?limit=25&shuffle=0&offset=0",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "nocoDb",
        "options": {}
      },
      "id": "51980ef1-8314-4995-9e0b-37e5c5443301",
      "name": "Get all tracked codes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        460
      ],
      "credentials": {
        "nocoDb": {
          "id": "9",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "list",
        "options": {}
      },
      "id": "489a6993-257f-4179-ba20-0e78c7445b71",
      "name": "Separate tracked codes",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        1120,
        460
      ]
    },
    {
      "parameters": {
        "url": "=https://proxyapp.correios.com.br/v1/sro-rastro/{{ $json.Code }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Dart/2.18 (dart:io)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "app-check-token",
              "value": "={{$node[\"Globals\"].json[\"correiosToken\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c2ae09f-764e-489b-abee-0c72cce63e47",
      "name": "Rastrear",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1640,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://proxyapp.correios.com.br/v1/app-validation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Dart/2.18 (dart:io)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "requestToken",
              "value": "YW5kcm9pZDtici5jb20uY29ycmVpb3MucHJlYXRlbmRpbWVudG87RjMyRTI5OTc2NzA5MzU5ODU5RTBCOTdGNkY4QTQ4M0I5Qjk1MzU3OA=="
            }
          ]
        },
        "options": {}
      },
      "id": "2d17fdd7-8b87-4722-badd-7d5afbe58c21",
      "name": "Gerar token Correios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        440,
        460
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "projectId": "p_nwjonkuzrfy5s1",
        "table": "md_nm5z7n3cl7i36f",
        "id": "={{ $node['Split In Batches'].json.Id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "LastStatus",
              "fieldValue": "={{ $json.objetos[0].eventos[0] }}"
            },
            {
              "fieldName": "DeliveryEstimate",
              "fieldValue": "={{ $json.objetos[0].dtPrevista }}"
            }
          ]
        }
      },
      "id": "071d0285-f57f-4788-8740-71bf33dce39b",
      "name": "NocoDB",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1880,
        320
      ],
      "credentials": {
        "nocoDb": {
          "id": "9",
          "name": "NocoDB account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "correiosToken",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "df0ea0cb-3340-4438-aa42-26c82a7ee965",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        660,
        460
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "154a5225-9538-4760-b036-433662b5c9a4",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1380,
        320
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-06-02T16:46:09.000Z",
  "versionId": "54cafb61-00f1-46e7-b9b0-11693a63fa08"
}